*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #222;
    font-family: 'Inter', sans-serif;
}

body{
    background: #DBD6CE;
}

.inicio{
    display: flex;
    width: 70vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    border: 1px solid #B4BCF0;
    margin-top: 8%;
    margin-left: 15%;
    background: url("./images/pattern-curve.svg") bottom left no-repeat #fff;
    background-size: 400px;
}

.texto{
    margin-left: 100px;
    z-index: 100;
    padding: 30px;
    margin-bottom: 50px;
    text-align: justify;
    background: url("./images/pattern-quotes.svg") top left 30% no-repeat;
    background-size: 80px;
}

.nome{
    font-weight: bold;
}

.box-image{
    margin-right: 100px;
    background: url("./images/pattern-bg.svg") top right 70% no-repeat;
    background-size: 400px;
    display: block;
    padding: 75px;
}

span{
    color: #B4BCF0;
}

